<style>
  *{
    margin: 0;
    padding: 0;
  }

  header h2 {
    margin-bottom: 18px;
  }
</style>

<section>
  <h1>Feed</h1>

  <article>

    {% for post in postagens %}
    <header>
            <!--Para abrir a pagina da postagem-->
                      <!--pegando o titulo da postagem de maneira dinamica direto do DB-->
      <h2><a href="http://localhost/site-php-mvc/?pagina=post&id={{post.id}}">{{post.titulo}}</a></h2>
    </header>
    <!--duas chaves para transmitir os dados da controller para a view, sem a tag <?php>-->
    <p>{{post.conteudo}}</p>

    <hr style="margin-top: 30px;">

    {% endfor %}

  </article>

</section>