<style>
  *{
    margin: 0;
    padding: 0;
  }
  #content h1 {
    font-size: 40px;
    font: arial;
    color: #6495ed;
  }

  #content p {
    font-size: 20px;
    font: arial;
    color: #384149;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 15px;
  }

  #content h3 {
    font-size: 30px;
    font: arial;
    color: #6495ed;
  }
</style>

<div id="content">

  <h1>Sobre</h1>
  <p>Clone de uma das primeiras versões do facebook. Utilizando PHP | MySQL | Twig com a arquitetura MVC.</p>
  
  <h3>Desenvolvido por: </h3>
  <p>Will</p>
</div>